<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_And_get.css') }}">
</head>
<body>
<form action="/details" method="post">
    <h1>Customer Form</h1>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <label for="phone">Phone:</label>
    <input type="tel" name="phone" id="phone" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>